@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@theme {
  --font-inter: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #99a1af;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #155dfc;
}
