<div class="toast toast-top toast-end animate-fadeIn">
  <div
    class="flex flex-row h-20 items-center align-middle gap-4 bg-white rounded-md p-3 shadow-black/20 shadow-[0_0_12px_rgba]"
  >
    <div class="bg-blue-500 w-1.5 h-full rounded-xl"></div>
    <svg
      class="w-6 h-6 text-blue-500"
      viewBox="0 0 24 24"
      id="meteor-icon-kit__solid-info-circle"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM10.5 16.5C10.5 17.3284 11.1716 18 12 18C12.8284 18 13.5 17.3284 13.5 16.5V12C13.5 11.1716 12.8284 10.5 12 10.5C11.1716 10.5 10.5 11.1716 10.5 12V16.5ZM12 6C11.1716 6 10.5 6.67157 10.5 7.5C10.5 8.32843 11.1716 9 12 9C12.8284 9 13.5 8.32843 13.5 7.5C13.5 6.67157 12.8284 6 12 6Z"
          fill="currentColor"
        ></path>
      </g>
    </svg>

    <div class="flex flex-col p-1">
      <h1 class="font-bold text-gray-600">Informação</h1>
      <span class="text-gray-400 font-semibold text-[13px]">{{
        mensagem
      }}</span>
    </div>
  </div>
</div>
