<div class="flex flex-col gap-2">
  <label class="text-[13px] text-gray-600" [htmlFor]="id">{{ label }}</label>
  <input
    autocomplete="off"
    [placeholder]="placeholder"
    [type]="type"
    [id]="id"
    [formControl]="control"
    class="relative h-12 w-full text-md p-4 border border-gray-300 rounded-xl outline-0 text-md text-gray-800 placeholder:text-[#c2c2c2]"
  />

  @if (control.invalid && control.touched) {
    <small class="text-red-500 italic animate-pulse">
      * {{ getMensagemErro(control) }}
    </small>
  }
</div>
