<div
  class="modal-box max-w-none w-auto flex flex-col gap-4 rounded-xl"
  tabindex="-1"
>
  <h1 class="text-xl font-semibold">Gerar Relatório de Cobranças</h1>

  <form class="flex flex-row w-full gap-4" [formGroup]="relatorioForm">
    <app-primary-input
      class="w-[50%]"
      id="dataInicio"
      label="Data Início"
      type="date"
      [control]="getControl('dataInicio')"
    ></app-primary-input>

    <app-primary-input
      class="w-[50%]"
      id="dataFim"
      label="Data Fim"
      type="date"
      [control]="getControl('dataFim')"
    ></app-primary-input>
  </form>

  <div class="flex flex-row gap-2 justify-start w-full">
    <app-cancel-button
      class="w-full"
      (cancelar)="onCancelar()"
    ></app-cancel-button>

    <app-generate-button
      class="w-full"
      (gerar)="onGerar()"
    ></app-generate-button>
  </div>
</div>

<dialog #loadingModal class="modal">
  <app-loading-modal></app-loading-modal>
</dialog>
